*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
	width: 100%;

}
.bgimage{
	
	background-image: :url("img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: relative;
	overflow-y: auto;
	width: 100%;
	height:100%;
}

img{
	width: 100%;
	height: 100%;
}
.bg-black{
	background-color: black;
}

.font-div{
	width: 50%;
}

///responsive///

@media only screen and (min-width: :1198px){
	.font-div{
		padding:42.5px 0px !important;
	}
}

a.footer{
	color:white;
}

.amogh{
	font-size: 23px;
    font-family: Calibri;
	font-weight: bold
}

.amogh1{
	font-size: 55px;
    font-family: Calibri;
	font-weight: bold
}
